<div class="vs4">
  {% for post in latestPosts | reverse %}
  <article class="vs3">
    <div class="vs2">
      {% Subheading level=3 %}
        {% Link href=post.url | url %}
          {{ post.data.title }}
        {% endLink %}
      {% endSubheading %}

      <time class="db" datetime="{{post.data.date}}">
        {{post.data.date | readableDate}}
      </time>
    </div>

    {# Contents #}
    {% MarkdownBlock %}
      {{ post.data.description | safe }}
    {% endMarkdownBlock %}
  </article>
  {% endfor %}
</div>
