<div class="vs4">
  {% for post in latestPosts | reverse %}
  <article class="h-entry vs3">
    <div class="vs2">
      {% Subheading level=3, className="p-name" %}
        {% Link href=post.url | url, className="u-url" %}
          {{ post.data.title }}
        {% endLink %}
      {% endSubheading %}

      <time class="dt-published f6 f5-ns db" datetime="{{post.data.date}}">
        {{post.data.date | readableDate}}
      </time>
    </div>

    {# Contents #}
    <div class="p-summary">
    {% MarkdownBlock %}
      {{ post.data.description | safe }}
    {% endMarkdownBlock %}
    </div>
  </article>
  {% endfor %}
</div>
