<ol reversed class="pa0 vs4 list" style="counter-reset: start-from {{ postslist.length + 1 }}">
{% for post in postslist %}
  <li class="h-entry db vs2 lh-title {% if post.url == url %}fw7{% endif %}">
    {# Title link #}
    {% Link href=post.url | url, className="u-url p-name db f4 f3-ns fw7" %}
      {% if post.data.title %}
        {{ post.data.title }}
      {% else %}
        <code>{{ post.url }}</code>
      {% endif %}
    {% endLink %}

    {# Date #}
    <time class="dt-published db f6 f5-ns" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </li>
{% endfor %}
</ol>
