# This is an example of a .envrc file
# Replace the values found here with those in password safe

# Analytics
export ANALYTICS_ID=''
export ANALYTICS_ENDPOINT=''

# For fetching data in _data/webmentions.js
# You get this from webmention.io, after authenticating
export WEBMENTION_IO_TOKEN="tokenhere"
