<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ renderData.title or title }} | {{ metadata.title }}</title>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="/img/favicon-128x128.png" sizes="128x128">

    {# RSS Feed link #}
    <link rel="alternate" href="{{ metadata.feed.path | url | absoluteUrl(metadata.url) }}" type="application/atom+xml" title="{{ metadata.shortTitle }}">

    {# Used to point to a canonical feed url, for all the posts 
      @see https://indieweb.org/posse-post-discovery#Algorithm
      @see https://indieweb.org/h-feed#rel_feed

      I am not sure whether this should be fully qualified or not;
      adding it as absolute, just in case
    #}
    <link rel="feed alternate" type="text/html" href="{{ "/posts/" | url | absoluteUrl(metadata.url) }}" title="Writing" />

    {% include "meta.njk" %}
    <meta name="theme-color" content="#1a1a1a">
    {% include "pingback.njk" %}
  </head>
  <body class="pa3 flex db-p flex-column min-vh-100 f-copy theme-light fg-primary bg-secondary f-asty">
    <header class="w-100 mw7 center">
      {% include "SkipLink.njk" %}
      <p>On April 9, participating in <a href="https://css-naked-day.github.io/">CSS naked day</a>.<br/>Styles will be back tomorrow!</p>
      <nav class="mn2 f-copy flex flex-row justify-between items-end overflow-x-auto scroll-touch">
        <div class="ma2 flex items-end">
          <div class="w2 h2">
          {% include "svg/lightbulb.svg" %}
          </div>
          <a class="ml2 db fg-accent-lighter fw7 link enhanced-outline" href="{{ '/' | url }}">{{ metadata.shortTitle }}</a>
        </div>
        <div class="ma2">
          <ul class="mn2 pa0 flex list hide-print">
            {%- for nav in collections.nav | reverse -%}
              {# Do not add home to the navigation #}
              {% if nav.url !== '/' %}
              <li class="db ma2 {% if nav.url == page.url %} fw7{% endif %}">
                <a
                  {# Declare full feed for /posts/ #}
                  {% if nav.url == page.url %}aria-current="page"{% endif %}
                  class="fg-primary hover-fg-accent-lighter enhanced-outline link"
                  href="{{ nav.url | url }}">
                    {{ nav.data.navtitle }}
                </a>
              </li>
              {% endif %}
            {%- endfor -%}
            <li class="db ma2">
              <a
                class="fg-primary hover-fg-accent-lighter enhanced-outline link"
                href="https://speaking.fotis.xyz">
                  Speaking
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main id="main" class="w-100 flex db-p flex-column flex-grow-1 {% if templateClass %}{{ templateClass }}{% endif %} {% if not isFullWidth %}mw7 center{% endif %}" style="outline: none;">
      {{ content | safe }}
    </main>

    <footer class="mt5 w-100 mw7 center hide-print">
      <div class="vs2 f5 lh-copy">
        <p class="h-card mv0">
          Made by 
          {% IdentityLink href='https://fotis.xyz', className="p-name u-url" %}Fotis Papadogeorgopoulos{% endIdentityLink %}
          ({% IdentityLink href='https://twitter.com/isfotis' %}@isfotis{% endIdentityLink %})
        </p>
        <p class="mv0">
        {% Link href='https://github.com/fpapado/fotis.xyz', isExternal=true %}
          Source on Github
        {% endLink %}
        </p>
      </div>
    </footer>

    <script src="{{ '/js/index.js' | resolveHash | url}}" defer></script>

    {# Inline Service Worker registration in production #}
    {% if env.environment == "production" %}
      <script>
        {% include "sw-inline.js" %}
      </script>
    {% endif %}
  </body>
</html>
