---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="h-entry pt4 pt5-ns pb4 vs4">
  <div class="vs3">
    {% Heading level=1, className="p-name" %}
      {{title}}
    {% endHeading %}

    <time class="dt-published db" datetime="{{date}}">
      {{date | readableDate}}
    </time>

    <div class="dn show-print author">
      by <span class="fw6">Fotis Papadogeorgopoulos</span>
    </div>
  </div>

  {# Contents #}
  <div class="e-content">
  {% MarkdownBlock %}
    {{ content | safe }}
  {% endMarkdownBlock %}
  </div>
</article>

{# Webmentions #}
<section class="pt4 pb4 bt bb bw1 b--light-gray hide-print">
{% include "webmentionlist.njk" %}
</section>

{%- set commentUrl -%}
{{page.url | url | githubCommentsLink}}
{%- endset -%}
<section class="vs4 mb4 pt4 pb4 bb bw1 b--light-gray hide-print">
  {% Subheading level="2"%}
    Comments
  {% endSubheading %}
  {% Text %}
    This comment section works via GitHub issues.
    You can add a comment via the field below, or
    {% Link href=commentUrl %}
      comment directly on GitHub
    {% endLink %}
  {% endText %}
  <script src="https://utteranc.es/client.js"
          repo="fpapado/fotis.xyz"
          issue-term="pathname"
          label="Comments"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
</section>

{# Backlink #}
<section class="hide-print">
{% Text %}
  {% Link { href: '/' | url } %}
    ← Home
  {% endLink %}
{% endText %}
</section>

{# Load Codepen script if needed #}
{% if hasCodepen %}
  <script async src="/js/codepen/ei.js"></script>
{% endif %}
