---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="pt4 pt5-ns pb4 vs4">
  <div class="vs3">
    {% Heading level=1 %}
      {{title}}
    {% endHeading %}

    <time class="db" datetime="{{date}}">
      {{date | readableDate}}
    </time>

    <div class="dn show-print author">
      by <span class="fw6">Fotis Papadogeorgopoulos</span>
    </div>

  </div>

  {# Contents #}
  {% MarkdownBlock %}
    {{ content | safe }}

    {# Backlink #}
    {% Text className="hide-print" %}
      {% Link { href: '/' | url } %}
        ← Home
      {% endLink %}
    {% endText %}
  {% endMarkdownBlock %}

  {# Load Codepen script if needed #}
  {% if hasCodepen %}
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  {% endif %}
</article>
