/* Asty-regular */
@font-face {
  font-family: 'Asty';
  /* TODO: reconsider font-display for these */
  font-display: swap;
  src: url(/fonts/Fonts/asty-regular-v1.woff) format('woff');
  font-weight: 400;
}

/* Asty-bold */
@font-face {
  font-family: 'Asty';
  font-display: swap;
  src: url(/fonts/Fonts/asty-bold-v1.woff) format('woff');
  font-weight: 700;
}

/* Use @supports to pick the correct fonts */
.f-asty {
  font-family: 'Asty', Arial, Helvetica, sans-serif;
  font-weight: 400;
}
