/* Asty-regular */
@font-face {
  font-family: 'Asty';
  font-display: swap;
  font-style: normal;
  src: url(/fonts/Fonts/asty-regular-v1.woff2) format('woff2'),
    url(/fonts/Fonts/asty-regular-v1.woff) format('woff');
  font-weight: 400;
}

/* Asty-bold */
@font-face {
  font-family: 'Asty';
  font-display: swap;
  font-style: normal;
  src: url(/fonts/Fonts/asty-bold-v1.woff2) format('woff2'),
    url(/fonts/Fonts/asty-bold-v1.woff) format('woff');
  font-weight: 700;
}

.f-asty {
  font-family: 'Asty', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.f-copy {
  font-size: 1.125rem;
}

@media screen and (min-width: 30em) {
  .f-copy-ns {
    font-size: 1.125rem;
  }
}
