/** Atomic */
@import './button-reset';
@import 'tachyons';
@import './fonts';
@import './skins';
@import './outline';
@import './prose';
@import './object-fit';
@import './vertical-spacing.css';
@import './spacing-extra.css';
@import './list-extra.css';
@import './transition-extra';
@import './animations';
@import './details';

/** Syntax highlighting */
@import './prism-a11y-dark';

/** "Components" */
@import './components/article';
@import './components/skip-link';
@import './components/aside';
@import './components/YoutubeVideo.css';
@import './components/VideoWithTranscript.css';

/** Explicit Print styles */
@import './print';

/** Dev-time styles */
/* img::before {
  display: block;
  padding: 1rem;
  content: attr(alt);
  font-size: 2rem;
  color: var(--accent);
  line-height: 1.5;
}*/

.scroll-touch {
  -webkit-overflow-scrolling: touch;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  .smooth-scroll {
    scroll-behavior: auto;
  }
}
