/* Enhanced outline */

/** Assume that we know what we are doing with programmatic focus */
[tabindex='-1']:focus {
  outline: none;
}

.enhanced-outline:focus {
  outline: 4px var(--accent-lighter) solid;
  outline-offset: 4px;
}

.enhanced-outline-fit:focus {
  outline: 4px var(--accent-lighter) solid;
  outline-offset: 0px;
}

.enhanced-outline-shadow:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem var(--accent-lighter);
}

.focus-tdn:focus {
  text-decoration: none;
}
