@media print {
  body {
    max-width: 100ch !important;
    background-color: #ffffff;
  }

  .measure-prose {
    max-width: 100ch !important;
  }

  /* Variable fonts do not get rendered correctly in print styles */
  .f-phantomsans {
    font-family: 'PhantomSans', Arial, Helvetica, sans-serif;
  }

  .f2-p {
    font-size: 2.25rem;
  }

  .db-p {
    display: block;
  }

  @page {
    margin: 2cm;
  }

  .article a {
    text-decoration: none;
  }

  .article .header-anchor {
    display: none;
  }

  /* In-site links */
  .article a[href^='/']:after {
    content: ' (↪ https://fotis.xyz' attr(href) ')';

    display: inline;

    color: var(--primary);
    opacity: 0.8;

    font-style: italic;
    font-size: 0.9em;

    word-break: break-word;
    word-wrap: break-word;
    white-space: wrap;
  }

  /* External links */
  .article a[href^='http']:after {
    content: ' (↪ ' attr(href) ')';
    display: inline;

    color: var(--primary);
    opacity: 0.8;

    font-style: italic;
    font-size: 0.9em;

    word-break: break-word;
    word-wrap: break-word;
    white-space: wrap;
  }

  /* Any images left as loading=lazy, and that we have not handled with JS,
   * give them an alt text explaining what happened.
   * This can still have false positives in case a lazy-loaded image had been loaded by scrolling.
   * However, in this concrete case, we use aspect-ratio placeholders and absolute positioning, so
   * the text will be obscured anyway!
   * I wish there was some selector for this...
   */
  .supports-lazy-loading
    .article
    img[loading='lazy']:not(.lazy-loading-ok):not(.lazy-loading-error)::after {
    display: block;
    content: '(This lazy-loaded image was skipped)';
  }

  .hide-print {
    display: none;
  }

  .show-print {
    display: block;
  }

  .author {
    font-size: 1.25rem;
  }

  time {
    font-size: 1.25rem;
  }

  /* Page break hints */
  h1,
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* Apparently this fixes wrapping, otherwise the code gets cut off */
  pre code {
    white-space: pre-wrap !important;
  }
}
