/* Themes */

/** Set the root theme to be the light one */
:root {
  --primary: #1a1a1a;
  --secondary: #fafafa;
  --accent: #dc0794;
  --accent-2: #4e07dc;
  --accent-lighter: #dc0794;
  --selection: #fff09d;
}

/** Explicit light theme */
.theme-light {
  --primary: #1a1a1a;
  --secondary: #fafafa;
  --accent: #dc0794;
  --accent-2: #4e07dc;
  --accent-lighter: #dc0794;
  --selection: #fff09d;
}

/** Atomic classes for theme */
/**  Foreground */
.fg-primary {
  color: var(--primary);
}

.fg-secondary {
  color: var(--secondary);
}

.fg-accent {
  color: var(--accent);
}

.fg-accent-lighter {
  color: var(--accent-lighter);
}

.hover-fg-accent:hover {
  color: var(--accent);
}

.hover-fg-accent-2:hover {
  color: var(--accent-2);
}

.hover-fg-accent-lighter:hover {
  color: var(--accent-lighter);
}

/** Background */
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-accent-lighter {
  background-color: var(--accent-lighter);
}

/** Text selection 
  * TODO: Reconsider
*/
/* ::selection {
  background-color: var(--selection);
}

::-moz-selection {
  background-color: var(--selection);
} */
