/* Themes */

/** Set the root theme to be the light one */
:root {
  --primary: #1a1a1a;
  --secondary: #fcf8f3;
  --accent: #d80b92;
  --accent-2: #4e07dc;
  --accent-lighter: #d80b92;
  --selection: #fff09d;
}

/** Explicit light theme */
.theme-light {
  --primary: #1a1a1a;
  --secondary: #fafafa;
  --accent: #da0993;
  --accent-2: #4e07dc;
  --accent-lighter: #da0993;
  --selection: #fff09d;
}

/** Atomic classes for theme */
/**  Foreground */
.fg-primary {
  color: var(--primary);
}

.fg-secondary {
  color: var(--secondary);
}

.fg-accent {
  color: var(--accent);
}

.fg-accent-lighter {
  color: var(--accent-lighter);
}

.hover-fg-secondary:hover {
  color: var(--secondary);
}

.hover-fg-accent:hover {
  color: var(--accent);
}

.hover-fg-accent-2:hover {
  color: var(--accent-2);
}

.hover-fg-accent-lighter:hover {
  color: var(--accent-lighter);
}

.hover-bg-accent:hover {
  background-color: var(--accent);
}

.hover-bg-primary:hover {
  background-color: var(--primary);
}

.hover-bg-secondary:hover {
  background-color: var(--secondary);
}

.hover-bg-accent-2:hover {
  background-color: var(--accent-2);
}

.focus-fg-secondary:focus {
  color: var(--secondary);
}

.focus-bg-primary:focus {
  background-color: var(--primary);
}

.focus-bg-secondary:focus {
  background-color: var(--secondary);
}

/** Background */
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-accent-2 {
  background-color: var(--accent-2);
}

.bg-accent-lighter {
  background-color: var(--accent-lighter);
}

.bg-selection {
  background-color: var(--selection);
}

/** Border */
.b--primary {
  border-color: var(--primary);
}

/** Text selection 
  * TODO: Reconsider
*/
/* ::selection {
  background-color: var(--selection);
}

::-moz-selection {
  background-color: var(--selection);
} */
