/** SPACING EXTRA
  * Utilities for spacing alongside the Tachyons space scale
*/

/* Negative margins */
/* These are typically used when defining
 * flexbox "gaps" and offseting the space leaking out.
 * In the future, consider using the `gap` property!
*/
.mn1 {
  margin: -0.25rem;
}

.mn2 {
  margin: -0.5rem;
}

.mn3 {
  margin: -1rem;
}

.w2-half {
  width: 3rem;
}

.h2-half {
  height: 3rem;
}

@media screen and (min-width: 34rem) {
  .w2-half-ns {
    width: 3rem;
  }

  .h2-half-ns {
    height: 3rem;
  }
}
