/** Styles for selectively transitioning colours */
.transition {
  transition: color 0.15s ease-in, background-color 0.15s ease-in;
}

.transition-fg {
  transition: color 0.15s ease-in;
}

.transition-bg {
  transition: background-color 0.15s ease-in;
}
