---
layout: layouts/home.njk
title: Home
tags:
  - nav
---

{% Headline level=1 %}
  Greetings, friend.
{% endHeadline %}

<div class="vs5">
  <div class="vs3">
    {% Heading level=2 %}
      Latest Posts
    {% endHeading %}

    {% set latestPosts = collections.postsByDate | last %}
    {% include "latestPost.njk" %}
  </div>

  <div class="vs4">
    {% Heading level=2 %}
      Past Posts
    {% endHeading %}

    <div class="measure-prose">
      {# For the "Past Talks", skip the latest talks, flatten the remaining, and take 3 #}
      {% set postslist = collections.postsByDate | reverse | drop(1) | flatten | head(3) %}
      {% include "postslist.njk" %}
    </div>

    {% Text %}
      More posts can be found in 
      {% Link { href: '/posts/' | url } %}
        the archive.
      {% endLink %}
    {% endText %}
  </div>
</div>
