---
permalink: /tags/
layout: layouts/home.njk
---
<article class="pt4 pt5-ns pb4 vs4">
  {% Heading level=1 %}
    Tags
  {% endHeading %}

  <div>
    {% for tag in collections.tagList %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="ml1 ph2 pv1 f-copy f4-ns fg-primary bg-selection br2 link enhanced-outline-shadow">{{ tag }}</a>
    {% endfor %}
  </div>
</article>
