---
layout: layouts/home.njk
tags:
  - nav
navtitle: Writing
title: Writing
permalink: /posts/index.html
---

<article class="pt4 pt5-ns pb4 vs4">
  {% Heading level=1 %}
    {{ title }}
  {% endHeading %}

  <div class="measure-prose">
    {% set postslist = collections.posts | reverse %}
    {% include "postslist.njk" %}
  </div>
</article>