---
layout: layouts/home.njk
title: Writing
permalink: /posts/index.html
eleventyNavigation:
  key: Writing
  order: 1
---

<article class="pt4 pt5-ns pb4 vs4">
  {% Heading level=1 %}
    {{ title }}
  {% endHeading %}

  <div class="measure-prose">
    {% set postslist = collections.posts | reverse %}
    {% include "postslist.njk" %}
  </div>
</article>